* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image:url('LINHAS.png');
    background-size: cover;
}
.verstapenbrinca{
    color: #111;
}
.vencedores{
    color: #111;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #111; 
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.logofia{
    position: absolute;
    left: 250px;
}
header .logo img {
    width: 190px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    font-size: 16px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f1c40f;
}

nav ul li a.active {
    color: #e74c3c ;
}
html {
    scroll-behavior: smooth;
}
.primeiranoticia{
    position: absolute;
    top: 190px;
    left: 810px;
    font-size:30px;
}
.noticiasformula{
    position: absolute;
    left: 280px;
    color: #f4f4f4;   
}
.imagemverstappen{
    
    width: auto;
    height: 80px;
}
.noticiamulta{
    position: relative;
    left:850px;
    font-size: 15px;
    top: 80px; 
    color: #f4f4f4;    
}
.noticiarbr{
    position: relative;
    top: 20px;
    left: 300px;
    color: #f4f4f4;   
}
.tabelapontuacao{
    width: 100%;
    border-collapse: collapse;
    margin: 1px 0;   
}
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #920000;
    color: #f9f9f9;
}
th {
    background-color: #920000;
}
tr:nth-child(even) {
    background-color: #920000;
    
}
.tabelapilotos{
    position: relative;
    top: 20px;
    color: #f4f4f4;
}
.titulotabelapilotos{
    color: #aa3434;
}
#resultados{
    background-image: ('LINHASPILOTO.png');
}
h2 {
    color: #ffffff;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

img.logo {
    width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}
footer {
    font-size: 16px;
    background-color: #ddd;
    padding: 10px;
}